<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  </head>
  
  <body>
  <div class="container-fluid">
    <br>
    <h2>Welcome to the Seg3125 Questionnaire for Lab 6</h2>
    <p>The questionnaire that follows will ask you to evaluate the UI of the Bank of Montreal's (BMO) welcome page.</p>
    <p>Please click <a href="https://www.bmo.com" target="_blank">here</a> to access BMO's welcome page, or click on the image below:</p>
    <a href="https://www.bmo.com" target="_blank" title="Click to visit BMO's splash site."><img src="/assets/bmosplash.jpg" alt="BMO Splash Page" width=480></a>

    <hr>
  
    <form id="survey">
      <h2>Personal Information</h2>
      <div class="form-group">
        <b><label for="fullName">Full Name:</label></b>
        <input type="text" class="form-control" name="fullName" id="fullName">
      </div>

      <b><label for="gender">Please select your gender:</label></b>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
        <label class="form-check-label" for="female">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="other" value="other">
        <label class="form-check-label" for="other">Other</label>
      </div>
      
      <div class="form-group">
        <b><label for="email">Email Address:</label></b>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>
    
      <hr>
      <h2>Website Questions</h2>

      <div class="form-group">
        <b><label for="howoften">How often do you visit the BMO website?</label></b>
        <select class="form-control" name="howoften" id="howoften">
          <option value="daily">Daily</option>
          <option value="weekly">A few times a week</option>
          <option value="monthly">A few times a month</option>
          <option value="yearly">A few times a year</option>
          <option value="never">Never</option>
        </select>
      </div>

      <div class="form-group">
        <b><label for="gender">Please check any of the following that apply:</label></b>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="siteSurvey" id="easyToUse" value="easyToUse">
          <label class="form-check-label" for="gridCheck">The website is easy to use</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="siteSurvey" id="infoGood" value="infoGood">
          <label class="form-check-label" for="gridCheck">The information presented is useful</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="siteSurvey" id="colorScheme" value="colorScheme">
          <label class="form-check-label" for="gridCheck">The color scheme is nice</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="siteSurvey" id="navigationEasy" value="navigationEasy">
          <label class="form-check-label" for="gridCheck">The website is easy to navigate</label>
        </div>
      </div>
    
      <div class="form-group">
        <b><label for="moreComments">Do you have any additional comments, complaints or suggestions? If so please detail them below: </label></b>
        <textarea class="form-control" id="moreComments" name="moreComments" rows="5" cols="100"></textarea>
      </div>

      <b><label for="needsImprovement">Does the website need improvement?</label><br></b>
      <em>DISAGREE  </em><input type="range" class="custom-range" min="0" max="10" id="needsImprovement" name="needsImprovement"><em>  AGREE</em>
      <br>
      <hr>
      <button type="submit" class="btn btn-primary" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
  </div>

	<script src="/assets/action.js"></script>
  </body>
</html> 